body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:703px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:992px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:992px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:488px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:1023px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:992px;
  width:703px;
  height:1023px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:504px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:1028px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:1983px;
  width:703px;
  height:1028px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:506px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:1023px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:3003px;
  width:703px;
  height:1023px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:504px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:1040px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:3988px;
  width:703px;
  height:1040px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:512px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:1037px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:4979px;
  width:703px;
  height:1037px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:510px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
