body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:495px;
}
#u1646 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:495px;
}
#u1647 {
  position:absolute;
  left:2px;
  top:240px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:497px;
}
#u1648 {
  position:absolute;
  left:348px;
  top:495px;
  width:352px;
  height:497px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:240px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:492px;
}
#u1650 {
  position:absolute;
  left:0px;
  top:988px;
  width:348px;
  height:492px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:238px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:497px;
}
#u1652 {
  position:absolute;
  left:348px;
  top:988px;
  width:352px;
  height:497px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:240px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:497px;
}
#u1654 {
  position:absolute;
  left:348px;
  top:1479px;
  width:352px;
  height:497px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:240px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:492px;
}
#u1656 {
  position:absolute;
  left:0px;
  top:1479px;
  width:348px;
  height:492px;
}
#u1657 {
  position:absolute;
  left:2px;
  top:238px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:492px;
}
#u1658 {
  position:absolute;
  left:0px;
  top:495px;
  width:348px;
  height:492px;
}
#u1659 {
  position:absolute;
  left:2px;
  top:238px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
