body {
  margin:0px;
  background-color:rgba(225, 225, 225, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2138.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u5015 {
  position:absolute;
  left:1877px;
  top:283px;
  width:21px;
  height:18px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:52px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5019 {
  position:absolute;
  left:339px;
  top:949px;
  width:1720px;
  height:52px;
}
#u5020 {
  position:absolute;
  left:2px;
  top:18px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5021 {
  position:absolute;
  left:366px;
  top:967px;
  width:377px;
  height:16px;
}
#u5022 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  white-space:nowrap;
}
#u5023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5023 {
  position:absolute;
  left:767px;
  top:967px;
  width:120px;
  height:16px;
}
#u5024 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5025 {
  position:absolute;
  left:907px;
  top:967px;
  width:430px;
  height:16px;
}
#u5026 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  white-space:nowrap;
}
#u5027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5027 {
  position:absolute;
  left:1357px;
  top:967px;
  width:120px;
  height:16px;
}
#u5028 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5029 {
  position:absolute;
  left:339px;
  top:0px;
  width:1720px;
  height:110px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:47px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:52px;
  background:inherit;
  background-color:rgba(218, 218, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5031 {
  position:absolute;
  left:339px;
  top:110px;
  width:1720px;
  height:52px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:18px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#515151;
}
#u5033 {
  position:absolute;
  left:381px;
  top:29px;
  width:327px;
  height:25px;
  font-size:21px;
  color:#515151;
}
#u5034 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  white-space:nowrap;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#B3B1AB;
}
#u5035 {
  position:absolute;
  left:381px;
  top:52px;
  width:617px;
  height:19px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#B3B1AB;
}
#u5036 {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  word-wrap:break-word;
}
#u5037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:26px;
  background:inherit;
  background-color:rgba(218, 218, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5037 {
  position:absolute;
  left:391px;
  top:178px;
  width:937px;
  height:26px;
}
#u5038 {
  position:absolute;
  left:2px;
  top:5px;
  width:933px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u5039 {
  position:absolute;
  left:413px;
  top:183px;
  width:96px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u5040 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#A19E94;
}
#u5041 {
  position:absolute;
  left:580px;
  top:183px;
  width:89px;
  height:14px;
  font-size:11px;
  color:#A19E94;
}
#u5042 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u5043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:42px;
  background:inherit;
  background-color:rgba(225, 225, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5043 {
  position:absolute;
  left:393px;
  top:121px;
  width:157px;
  height:42px;
}
#u5044 {
  position:absolute;
  left:2px;
  top:13px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5045 {
  position:absolute;
  left:416px;
  top:135px;
  width:111px;
  height:16px;
  color:#FFFFFF;
}
#u5046 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u5047 {
  position:absolute;
  left:406px;
  top:176px;
  width:121px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5048 {
  position:absolute;
  left:571px;
  top:176px;
  width:112px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:1000px;
  background:inherit;
  background-color:rgba(74, 74, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5049 {
  position:absolute;
  left:1px;
  top:0px;
  width:338px;
  height:1000px;
}
#u5050 {
  position:absolute;
  left:2px;
  top:492px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Ebrima Обычный', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#B3B1AB;
}
#u5051 {
  position:absolute;
  left:55px;
  top:17px;
  width:120px;
  height:26px;
  font-family:'Ebrima Обычный', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#B3B1AB;
}
#u5052 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u5054 {
  position:absolute;
  left:1px;
  top:795px;
  width:338px;
  height:1px;
}
#u5055 {
  position:absolute;
  left:2px;
  top:-8px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B0B0B0;
}
#u5056 {
  position:absolute;
  left:67px;
  top:808px;
  width:14px;
  height:24px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#B0B0B0;
}
#u5057 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u5058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:101px;
  background:inherit;
  background-color:rgba(56, 55, 56, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5058 {
  position:absolute;
  left:21px;
  top:846px;
  width:318px;
  height:101px;
}
#u5059 {
  position:absolute;
  left:2px;
  top:42px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0B0B0;
}
#u5060 {
  position:absolute;
  left:67px;
  top:914px;
  width:272px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0B0B0;
}
#u5061 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u5062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0B0B0;
}
#u5062 {
  position:absolute;
  left:67px;
  top:865px;
  width:245px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0B0B0;
}
#u5063 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:2px;
}
#u5064 {
  position:absolute;
  left:38px;
  top:897px;
  width:279px;
  height:1px;
}
#u5065 {
  position:absolute;
  left:2px;
  top:-8px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(91, 91, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Ebrima Полужирный', 'Ebrima Обычный', 'Ebrima';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9EACA3;
}
#u5066 {
  position:absolute;
  left:21px;
  top:15px;
  width:23px;
  height:23px;
  font-family:'Ebrima Полужирный', 'Ebrima Обычный', 'Ebrima';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9EACA3;
}
#u5067 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u5068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u5068 {
  position:absolute;
  left:182px;
  top:25px;
  width:11px;
  height:7px;
}
#u5069 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u5070 {
  position:absolute;
  left:1px;
  top:121px;
  width:338px;
  height:1px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u5072 {
  position:absolute;
  left:1px;
  top:54px;
  width:338px;
  height:1px;
}
#u5073 {
  position:absolute;
  left:2px;
  top:-8px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5075 {
  position:absolute;
  left:38px;
  top:964px;
  width:19px;
  height:19px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u5077 {
  position:absolute;
  left:124px;
  top:964px;
  width:12px;
  height:20px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u5079 {
  position:absolute;
  left:206px;
  top:966px;
  width:20px;
  height:15px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5081 {
  position:absolute;
  left:284px;
  top:965px;
  width:34px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5082 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u5083 {
  position:absolute;
  left:169px;
  top:966px;
  width:1px;
  height:23px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u5085 {
  position:absolute;
  left:85px;
  top:966px;
  width:1px;
  height:23px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u5087 {
  position:absolute;
  left:255px;
  top:966px;
  width:1px;
  height:23px;
}
#u5088 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:892px;
  background:inherit;
  background-color:rgba(56, 55, 56, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5089 {
  position:absolute;
  left:1px;
  top:55px;
  width:22px;
  height:892px;
}
#u5090 {
  position:absolute;
  left:2px;
  top:438px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u5091 {
  position:absolute;
  left:-8px;
  top:494px;
  width:31px;
  height:16px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5092 {
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:50px;
  background:inherit;
  background-color:rgba(78, 78, 78, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5093 {
  position:absolute;
  left:23px;
  top:122px;
  width:294px;
  height:50px;
}
#u5094 {
  position:absolute;
  left:2px;
  top:17px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B3B1AB;
}
#u5095 {
  position:absolute;
  left:68px;
  top:139px;
  width:210px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B3B1AB;
}
#u5096 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u5097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u5098 {
  position:absolute;
  left:36px;
  top:137px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u5099 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
}
#u5100 {
  position:absolute;
  left:36px;
  top:143px;
  width:19px;
  height:8px;
}
#u5101 {
  position:absolute;
  left:2px;
  top:-4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u5102 {
  position:absolute;
  left:288px;
  top:144px;
  width:11px;
  height:7px;
}
#u5103 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:67px;
  background:inherit;
  background-color:rgba(56, 55, 56, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5105 {
  position:absolute;
  left:21px;
  top:55px;
  width:318px;
  height:67px;
}
#u5106 {
  position:absolute;
  left:2px;
  top:26px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#B0B0B0;
}
#u5108 {
  position:absolute;
  left:67px;
  top:80px;
  width:206px;
  height:17px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#B0B0B0;
}
#u5109 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u5110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u5110 {
  position:absolute;
  left:1px;
  top:947px;
  width:338px;
  height:1px;
}
#u5111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5112 {
  position:absolute;
  left:21px;
  top:7px;
  width:296px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5113 {
  position:absolute;
  left:1px;
  top:478px;
  width:15px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u5114 {
  position:absolute;
  left:24px;
  top:172px;
  width:92px;
  height:1px;
}
#u5115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:260px;
  background:inherit;
  background-color:rgba(97, 97, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5116 {
  position:absolute;
  left:23px;
  top:170px;
  width:294px;
  height:260px;
}
#u5117 {
  position:absolute;
  left:2px;
  top:122px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAA8A4;
}
#u5118 {
  position:absolute;
  left:68px;
  top:348px;
  width:126px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAA8A4;
}
#u5119 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u5120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAA8A4;
}
#u5120 {
  position:absolute;
  left:68px;
  top:378px;
  width:126px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAA8A4;
}
#u5121 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u5122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0B0B0;
}
#u5122 {
  position:absolute;
  left:68px;
  top:319px;
  width:126px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0B0B0;
}
#u5123 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u5124 {
  position:absolute;
  left:24px;
  top:314px;
  width:293px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5125 {
  position:absolute;
  left:24px;
  top:344px;
  width:293px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5126 {
  position:absolute;
  left:23px;
  top:374px;
  width:293px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0B0B0;
}
#u5127 {
  position:absolute;
  left:68px;
  top:259px;
  width:126px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0B0B0;
}
#u5128 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u5129 {
  position:absolute;
  left:24px;
  top:255px;
  width:293px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Ebrima Обычный', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#B3B1AB;
}
#u5130 {
  position:absolute;
  left:68px;
  top:187px;
  width:96px;
  height:24px;
  font-family:'Ebrima Обычный', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#B3B1AB;
}
#u5131 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u5132 {
  position:absolute;
  left:24px;
  top:180px;
  width:293px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5133 {
  position:absolute;
  left:23px;
  top:283px;
  width:294px;
  height:30px;
}
#u5134 {
  position:absolute;
  left:2px;
  top:7px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAA8A4;
}
#u5135 {
  position:absolute;
  left:68px;
  top:229px;
  width:126px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAA8A4;
}
#u5136 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u5137 {
  position:absolute;
  left:55px;
  top:803px;
  width:37px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5138 {
  position:absolute;
  left:55px;
  top:847px;
  width:194px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5139 {
  position:absolute;
  left:55px;
  top:897px;
  width:260px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAA8A4;
}
#u5140 {
  position:absolute;
  left:68px;
  top:289px;
  width:126px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAA8A4;
}
#u5141 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u5142 {
  position:absolute;
  left:23px;
  top:285px;
  width:293px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5143 {
  position:absolute;
  left:23px;
  top:225px;
  width:293px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5144 {
  position:absolute;
  left:406px;
  top:283px;
  width:19px;
  height:19px;
}
#u5145 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5146 {
  position:absolute;
  left:1537px;
  top:613px;
  width:205px;
  height:16px;
  font-size:13px;
}
#u5147 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u5148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5148 {
  position:absolute;
  left:1787px;
  top:613px;
  width:213px;
  height:16px;
  font-size:13px;
}
#u5149 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u5150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5150 {
  position:absolute;
  left:455px;
  top:281px;
  width:19px;
  height:19px;
}
#u5151 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5152 {
  position:absolute;
  left:1787px;
  top:319px;
  width:248px;
  height:117px;
}
#u5153 {
  position:absolute;
  left:2px;
  top:50px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5154 {
  position:absolute;
  left:1960px;
  top:273px;
  width:42px;
  height:46px;
}
#u5155 {
  position:absolute;
  left:2px;
  top:15px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u5156 {
  position:absolute;
  left:1929px;
  top:282px;
  width:14px;
  height:19px;
}
#u5157 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5158 {
  position:absolute;
  left:1989px;
  top:405px;
  width:32px;
  height:32px;
}
#u5159 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5160 {
  position:absolute;
  left:1810px;
  top:378px;
  width:169px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u5161 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u5162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5162 {
  position:absolute;
  left:1810px;
  top:346px;
  width:185px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u5163 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u5164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5164 {
  position:absolute;
  left:1971px;
  top:282px;
  width:20px;
  height:20px;
}
#u5165 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u5166 {
  position:absolute;
  left:386px;
  top:607px;
  width:23px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u5167 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5168 {
  position:absolute;
  left:421px;
  top:609px;
  width:19px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5169 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u5170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5170 {
  position:absolute;
  left:451px;
  top:609px;
  width:19px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5171 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u5172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5172 {
  position:absolute;
  left:481px;
  top:609px;
  width:28px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5173 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1775px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5174 {
  position:absolute;
  left:364px;
  top:530px;
  width:1775px;
  height:50px;
}
#u5175 {
  position:absolute;
  left:2px;
  top:17px;
  width:1771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1775px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5176 {
  position:absolute;
  left:364px;
  top:439px;
  width:1775px;
  height:40px;
}
#u5177 {
  position:absolute;
  left:2px;
  top:12px;
  width:1771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1775px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5178 {
  position:absolute;
  left:364px;
  top:479px;
  width:1775px;
  height:50px;
}
#u5179 {
  position:absolute;
  left:2px;
  top:17px;
  width:1771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#199ED8;
}
#u5180 {
  position:absolute;
  left:385px;
  top:453px;
  width:58px;
  height:15px;
  font-size:13px;
  color:#199ED8;
}
#u5181 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u5182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5182 {
  position:absolute;
  left:607px;
  top:453px;
  width:131px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u5183 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u5184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u5184 {
  position:absolute;
  left:385px;
  top:499px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#199ED8;
}
#u5185 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u5186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5186 {
  position:absolute;
  left:607px;
  top:499px;
  width:197px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u5187 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u5188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5188 {
  position:absolute;
  left:537px;
  top:490px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5189 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u5190 {
  position:absolute;
  left:385px;
  top:549px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#199ED8;
}
#u5191 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u5192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5192 {
  position:absolute;
  left:607px;
  top:549px;
  width:179px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u5193 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5194 {
  position:absolute;
  left:537px;
  top:540px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5195 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5196 {
  position:absolute;
  left:861px;
  top:453px;
  width:111px;
  height:15px;
  font-size:13px;
  color:#666666;
}
#u5197 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u5198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5198 {
  position:absolute;
  left:1024px;
  top:453px;
  width:44px;
  height:15px;
  font-size:13px;
  color:#666666;
}
#u5199 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u5200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5200 {
  position:absolute;
  left:1184px;
  top:453px;
  width:55px;
  height:15px;
  font-size:13px;
  color:#666666;
}
#u5201 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5202 {
  position:absolute;
  left:1347px;
  top:453px;
  width:67px;
  height:15px;
  font-size:13px;
  color:#666666;
}
#u5203 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5204 {
  position:absolute;
  left:1598px;
  top:453px;
  width:75px;
  height:15px;
  font-size:13px;
  color:#666666;
}
#u5205 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5206 {
  position:absolute;
  left:1724px;
  top:453px;
  width:102px;
  height:15px;
  font-size:13px;
  color:#666666;
}
#u5207 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u5208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5208 {
  position:absolute;
  left:1914px;
  top:453px;
  width:113px;
  height:15px;
  font-size:13px;
  color:#666666;
}
#u5209 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5210 {
  position:absolute;
  left:1184px;
  top:499px;
  width:121px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5211 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5212 {
  position:absolute;
  left:1024px;
  top:499px;
  width:118px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5213 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u5214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5214 {
  position:absolute;
  left:1347px;
  top:499px;
  width:76px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5215 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u5216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5216 {
  position:absolute;
  left:1598px;
  top:499px;
  width:69px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5217 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5218 {
  position:absolute;
  left:1724px;
  top:499px;
  width:101px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u5220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5220 {
  position:absolute;
  left:1184px;
  top:549px;
  width:121px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5221 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5222 {
  position:absolute;
  left:1024px;
  top:549px;
  width:118px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5223 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u5224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5224 {
  position:absolute;
  left:1347px;
  top:549px;
  width:83px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5225 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5226 {
  position:absolute;
  left:1598px;
  top:549px;
  width:69px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5227 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u5228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5228 {
  position:absolute;
  left:1724px;
  top:549px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5229 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5230 {
  position:absolute;
  left:1914px;
  top:499px;
  width:155px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5231 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u5232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5232 {
  position:absolute;
  left:1914px;
  top:546px;
  width:83px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5233 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5234 {
  position:absolute;
  left:1474px;
  top:453px;
  width:75px;
  height:15px;
  font-size:13px;
  color:#666666;
}
#u5235 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5236 {
  position:absolute;
  left:1474px;
  top:499px;
  width:76px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5237 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u5238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5238 {
  position:absolute;
  left:1474px;
  top:549px;
  width:83px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5239 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:102px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.388235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5240 {
  position:absolute;
  left:364px;
  top:478px;
  width:219px;
  height:102px;
}
#u5241 {
  position:absolute;
  left:2px;
  top:43px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5242 {
  position:absolute;
  left:861px;
  top:499px;
  width:118px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5243 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u5244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5244 {
  position:absolute;
  left:861px;
  top:549px;
  width:118px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u5245 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u5246 {
  position:absolute;
  left:393px;
  top:273px;
  width:42px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5247 {
  position:absolute;
  left:438px;
  top:273px;
  width:55px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5248 {
  position:absolute;
  left:1914px;
  top:270px;
  width:40px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5249 {
  position:absolute;
  left:1958px;
  top:270px;
  width:47px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5250 {
  position:absolute;
  left:364px;
  top:480px;
  width:219px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5251 {
  position:absolute;
  left:1787px;
  top:329px;
  width:248px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5252 {
  position:absolute;
  left:1787px;
  top:371px;
  width:248px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
